!!!
%html
  %head
    %title BradGuard
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - if flash[:success]
      .container-narrow
        .alert.alert-success
          %button.close
            &times;
          %strong Success!
          = flash[:success]
    - if flash[:error]
      .container-narrow
        .alert.alert-error
          %button.close
            &times;
          %strong Oops!
          = flash[:error]

    = yield
